.app-page-title {
}

.app-page-body {
}

.app-page-actions {
}

.app-footer.row {
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 800px;
}


.app-alkatresz{
    /*background-color: bisque*/   
}

.app-beszallito{   
    /*background-color: aquamarine*/   
}

.app-rendeles{   
    /*background-color: cornsilk*/   
}